<apex:page showHeader="false" sidebar="false">
    <apex:includeLightning />
    <apex:slds />
    <div id="NumberReserv"></div>
     <script>
    var basketId = "{!$CurrentPage.parameters.basketId}";
    var voiceList = {!$CurrentPage.parameters.voiceList};
    var solutionName = "{!$CurrentPage.parameters.solutionName}";
    var defaultSite = "{!$CurrentPage.parameters.defaultSite}";
    
        $Lightning.use("c:NumberReservationApp", function() {
                $Lightning.createComponent("c:NumberReservation",
                {"basketId": basketId, "voiceList": voiceList,"solutionName" : solutionName,"defaultSite":defaultSite},
                "NumberReserv",
                function(component) {
                   
                });
        });

    </script>
 </apex:page>